<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="danger">
      SÉRIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>13 de setembro de 2005</ion-card-subtitle>
      <ion-card-title>Sobrenatural</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/ltLshA9CpddtLTHhcGQ7lGGM7uZ.jpg"/>
      <p>Os irmãos Dean e Sam vasculham o país em busca de atividades paranormais, brigando com demônios, fantasmas e monstros no caminho.</p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>20 de janeiro de 2008</ion-card-subtitle>
      <ion-card-title>Breaking Bad</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/30erzlzIOtOK3k3T3BAl1GiVMP1.jpg"/>
      <p>Ao saber que tem câncer, um professor passa a fabricar metanfetamina pelo futuro da família, mudando o destino de todos.</p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>