<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      FILMES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1>A Caçada</h1>
        <h2>28 de maio de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/mDt3GkephI5yrRsEgLfdo3MYxyj.jpg" />
        <p>Na intenção de fazer justiça com as próprias mãos, dois grupos completamente opostos iniciam uma guerra armada que lentamente aumenta de proporção…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Seized</h1>
        <h2>28 de maio de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/6mTebYTxlCXTGKY5mY2meHrSedw.jpg" />
        <p>Carl Rizk, an ex-covert operative who's moved to a small quiet town in Oregon to raise his son and daughter gets awakened by a phone call and message…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Parasita</h1>
        <h2>30 de maio de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/igw938inb6Fy0YVcwIyxQ7Lu5FO.jpg" />
        <p>Toda a família de Ki-taek está desempregada, vivendo num porão sujo e apertado. Uma obra do acaso faz com que o filho adolescente da família comece a dar aulas de inglês à garota de uma família rica…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Matrix</h1>
        <h2>30 de mar de 1999</h2>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/etJHvVsM9aefWWrW23r5BXgVK1F.jpg" />
        <p>Um jovem programador é atormentado por estranhos pesadelos nos quais sempre está conectado por cabos a um imenso sistema de computadores do futuro…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>