<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      DESENHOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>17 de dezembro de 1989</ion-card-subtitle>
      <ion-card-title>Os Simpsons</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9fSGtPOp3MlFfynLEjYjlOfenbk.jpg"/>
      <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear.…</p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>20 de fevereiro de 2020</ion-card-subtitle>
      <ion-card-title>Dois Irmãos: Uma Jornada Fantástica</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/jsi2UM64Mhr6NmY1LKeeCuZOaCo.jpg"/>
      <p>Em um mundo transformado, no qual as criaturas não dependiam mais da magia para viver, dois irmãos elfos recebem um cajado de bruxo…</p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>